<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">GAE test</h1>
    <p>This is a test application using Google Appengine + Go + Angular.</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>Entity</h2>
      <p>Example for using Datastore.</p>
      <p><a class="btn btn-secondary" routerLink="entity" role="button">Start Entity</a></p>
    </div>
  </div>
</div>
