<div class="container-fluid">
<h1>Entity List</h1>
<table class="table entity-list">
  <thead>
    <tr>
      <th>名前</th>
      <th>作成日時</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entity of entityList">
      <td class="entity-name">{{entity.name}}</td>
      <td class="entity-created-at">{{entity.createdAt}}</td>
    </tr>
  </tbody>
</table>
<a class="btn btn-primary add-link" routerLink="../new" role="button">Add</a>
</div>
